
.fuente-odin{
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(47, 47, 179);
}

.fuente-marca{
    font-family: "Aclonica", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: rgb(47, 47, 179);

}

.titulo-naranja{
    color: darkgoldenrod !important;
}




.inactivo{
    color: rgb(196, 121, 23);
}

.texto-bajada{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
}

.aclonica{
    font-family: "Aclonica", sans-serif;
}

.custom-img{
    max-width: 220px;
}

.escondida-side{
    display: none;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px; /* Aumentar tamaño */
    height: 50px;
    opacity: 1; /* Elimina la transparencia */
}

iframe {
    max-width: 90%; /* Evita que el iframe sea más grande que su contenedor */
    width: 100%; /* Se ajusta al tamaño del padre */
    height: 300px; /* Mantiene la altura fija (puedes ajustarla) */
}




@media (min-width: 768px){
    .escondida-side{
        display: inline;
        width: 150px;
    }
}

@media (min-width: 992px){

    .escondida-side{
        width: 180px;
    }
    .custom-img{
        width: 180px !important;
    }

    .div-bajada{
        padding: 40px;
    }

    .display-achicar {
        font-size: 2rem; /* Ajusta el tamaño según lo necesites */
      } 
      
    .texto-bajada{
        padding: 0;
        margin: 0 !important;
    }

    .contenedor-texto{
        padding:  20px;
    }

    .mi-carrusel{
        width: 100%;

    }

   

}